$primary: #ffde03;
$body-bg:  #f9fbfd;
$body-color: #2C2C2C;
$enable-shadows: true;
$font-family-base: 'Avenir', Helvetica, Arial, sans-serif;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@import "_style.scss";
